this file is used to create the data base and the tables and upload the data recrds to the corresponding tables

In [1]:
import pandas as pd
import numpy as np

In [2]:
data_tr= pd.read_csv("train.csv")
data_te= pd.read_csv("test.csv")
data_id= pd.read_csv("ideal.csv")

In [3]:
df_tr=pd.DataFrame(data_tr)
df_te=pd.DataFrame(data_te)
df_id=pd.DataFrame(data_id)

In [10]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (from SQLAlchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [11]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 374.4 kB/s eta 0:00:00a 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [12]:
import sqlalchemy as db
import pymysql

In [2]:
import pandas as pd
from sqlalchemy import create_engine, Table, Column, Float, MetaData

# Create an engine to the SQLite database
engine = create_engine('sqlite:///my_data.db')
metadata = MetaData()

# Define Table 1 for training data
training_data = Table('training_data', metadata,
                      Column('X', Float, primary_key=True),
                      Column('Y1', Float),
                      Column('Y2', Float),
                      Column('Y3', Float),
                      Column('Y4', Float))

# Define Table 2 for ideal functions
columns = [Column('X', Float, primary_key=True)] + [Column(f'Y{i}', Float) for i in range(1, 51)]
ideal_functions = Table('ideal_functions', metadata, *columns)

# Create both tables in the database
metadata.create_all(engine)

def load_data_to_table(data_file, table):
    # Load data using pandas
    data_df = pd.read_csv(data_file)
    # Insert data into the table using pandas and sqlalchemy
    data_df.to_sql(table.name, con=engine, if_exists='replace', index=False)

# Loading training data and ideal functions into their respective tables
load_data_to_table('train.csv', training_data)
load_data_to_table('ideal.csv', ideal_functions)

print("Data has been loaded into the database.")

Data has been loaded into the database.

In [3]:
existing_tables = engine.table_names()
print("Existing tables in the database:", existing_tables)

Existing tables in the database: ['ideal_functions', 'training_data']

/var/folders/6r/8dtcw8lx5cgb3mtrmcwfylyw0000gn/T/ipykernel_1501/2900765621.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  existing_tables = engine.table_names()