In [5]:
pip install pandas sqlalchemy bokeh pytest

Requirement already satisfied: pandas in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (1.4.4)
Requirement already satisfied: sqlalchemy in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (1.4.39)
Requirement already satisfied: bokeh in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (2.4.3)
Requirement already satisfied: pytest in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (7.1.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: greenlet!=0.4.17 in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: Jinja2>=2.9 in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (from bokeh) (2.11.3)
Requirement already satisfied: packaging>=16.8 in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (from bokeh) (21.3)
Requirement already satisfied: pillow>=7.1.0 in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (from bokeh) (9.2.0)
Requirement already satisfied: PyYAML>=3.10 in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (from bokeh) (6.0)
Requirement already satisfied: tornado>=5.1 in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (from bokeh) (6.1)
Requirement already satisfied: typing-extensions>=3.10.0 in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (from bokeh) (4.3.0)
Requirement already satisfied: attrs>=19.2.0 in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (from pytest) (21.4.0)
Requirement already satisfied: iniconfig in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (from pytest) (1.1.1)
Requirement already satisfied: pluggy<2.0,>=0.12 in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (from pytest) (1.0.0)
Requirement already satisfied: py>=1.8.2 in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (from pytest) (1.11.0)
Requirement already satisfied: tomli>=1.0.0 in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (from pytest) (2.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (from Jinja2>=2.9->bokeh) (2.0.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (from packaging>=16.8->bokeh) (3.0.9)
Requirement already satisfied: six>=1.5 in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install --upgrade pip

Requirement already satisfied: pip in /Users/mac/opt/anaconda3/lib/python3.9/site-packages (24.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd

In [8]:
data_tr= pd.read_csv("train.csv")

In [9]:
data_tr

        x         y1         y2         y3        y4
0   -20.0  39.778572 -40.078590 -20.214268 -0.324914
1   -19.9  39.604813 -39.784000 -20.070950 -0.058820
2   -19.8  40.099070 -40.018845 -19.906782 -0.451830
3   -19.7  40.151100 -39.518402 -19.389118 -0.612044
4   -19.6  39.795662 -39.360065 -19.815890 -0.306076
..    ...        ...        ...        ...       ...
395  19.5 -38.254158  39.661987  19.536741  0.695158
396  19.6 -39.106945  39.067880  19.840752  0.638423
397  19.7 -38.926495  40.211475  19.516634  0.109105
398  19.8 -39.276672  40.038870  19.377943  0.189025
399  19.9 -39.724934  40.558865  19.630678  0.513824

[400 rows x 5 columns]

In [10]:
data_te= pd.read_csv("test.csv")
data_id= pd.read_csv("ideal.csv")

In [11]:
data_te

       x          y
0   17.5  34.161040
1    0.3   1.215102
2   -8.7 -16.843908
3  -19.2 -37.170870
4  -11.0 -20.263054
..   ...        ...
95  -1.9  -4.036904
96  12.2  -0.010358
97  16.5 -33.964134
98   5.3 -10.291622
99  17.9  28.078455

[100 rows x 2 columns]

In [12]:
data_id

,x,y1,y2,y3,y4,y5,y6,y7,y8,y9,...,y41,y42,y43,y44,y45,y46,y47,y48,y49,y50
0,-20.0,-0.912945,0.408082,9.087055,5.408082,-9.087055,0.912945,-0.839071,-0.850919,0.816164,...,-40.456474,40.204040,2.995732,-0.008333,12.995732,5.298317,-5.298317,-0.186278,0.912945,0.396850
1,-19.9,-0.867644,0.497186,9.132356,5.497186,-9.132356,0.867644,-0.865213,0.168518,0.994372,...,-40.233820,40.048590,2.990720,-0.008340,12.990720,5.293305,-5.293305,-0.215690,0.867644,0.476954
2,-19.8,-0.813674,0.581322,9.186326,5.581322,-9.186326,0.813674,-0.889191,0.612391,1.162644,...,-40.006836,39.890660,2.985682,-0.008347,12.985682,5.288267,-5.288267,-0.236503,0.813674,0.549129
3,-19.7,-0.751573,0.659649,9.248426,5.659649,-9.248426,0.751573,-0.910947,-0.994669,1.319299,...,-39.775787,39.729824,2.980619,-0.008354,12.980619,5.283204,-5.283204,-0.247887,0.751573,0.612840
4,-19.6,-0.681964,0.731386,9.318036,5.731386,-9.318036,0.681964,-0.930426,0.774356,1.462772,...,-39.540980,39.565693,2.975530,-0.008361,12.975530,5.278115,-5.278115,-0.249389,0.681964,0.667902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,19.5,0.605540,0.795815,10.605540,5.795815,-10.605540,-0.605540,-0.947580,-0.117020,1.591630,...,39.302770,-38.602093,2.970414,-0.012422,12.970414,5.273000,-5.273000,0.240949,0.605540,0.714434
396,19.6,0.681964,0.731386,10.681964,5.731386,-10.681964,-0.681964,-0.930426,0.774356,1.462772,...,39.540980,-38.834310,2.975530,-0.012438,12.975530,5.278115,-5.278115,0.249389,0.681964,0.667902
397,19.7,0.751573,0.659649,10.751574,5.659649,-10.751574,-0.751573,-0.910947,-0.994669,1.319299,...,39.775787,-39.070175,2.980619,-0.012453,12.980619,5.283204,-5.283204,0.247887,0.751573,0.612840
398,19.8,0.813674,0.581322,10.813674,5.581322,-10.813674,-0.813674,-0.889191,0.612391,1.162644,...,40.006836,-39.309338,2.985682,-0.012469,12.985682,5.288267,-5.288267,0.236503,0.813674,0.549129
399,19.9,0.867644,0.497186,10.867644,5.497186,-10.867644,-0.867644,-0.865213,0.168518,0.994372,...,40.233820,-39.551407,2.990720,-0.012484,12.990720,5.293305,-5.293305,0.215690,0.867644,0.476954

In [13]:
df_tr=pd.DataFrame(data_tr)
df_te=pd.DataFrame(data_te)
df_id=pd.DataFrame(data_id)

In [61]:
filtered_df = df_tr[df_tr['x'] == 19.6]
print(filtered_df)
filtered_te = df_te[df_te['x'] == 19.6]
print(filtered_te)
filtered_id = df_id[df_id['x'] == 19.6]
print(filtered_id)

        x         y1        y2         y3        y4
396  19.6 -39.106945  39.06788  19.840752  0.638423
Empty DataFrame
Columns: [x, y]
Index: []
        x        y1        y2         y3        y4         y5        y6  \
396  19.6  0.681964  0.731386  10.681964  5.731386 -10.681964 -0.681964

           y7        y8        y9  ...       y41       y42      y43       y44  \
396 -0.930426  0.774356  1.462772  ...  39.54098 -38.83431  2.97553 -0.012438

          y45       y46       y47       y48       y49       y50
396  12.97553  5.278115 -5.278115  0.249389  0.681964  0.667902

[1 rows x 51 columns]

In [15]:

def load_data(filepath):
    return pd.read_csv(filepath)

In [16]:
import numpy as np